.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.text-field {
-fx-background-color: rgb(125.0, 125.0, 125.0);
-fx-background-radius: 10.0;
-fx-text-fill: whitesmoke;
-fx-prompt-text-fill: rgb(94.0, 203.0, 234.0);
}

.button {
-fx-background-color: lightgreen;
-fx-text-fill: black;
-fx-font-size: 14;
-fx-font-weight: bold;

}

.button:hover{
-fx-background-color: green;
-fx-text-fill: black;
-fx-font-size: 15;
-fx-font-weight: bold;
-fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );

}

.gridPane {
-fx-background-color: green;
}